[submodule "contracts/lib/openzeppelin-contracts-upgradeable"]
	path = contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "contracts/lib/buffer"]
	path = contracts/lib/buffer
	url = https://github.com/ensdomains/buffer
[submodule "contracts/lib/verifiable-factory"]
	path = contracts/lib/verifiable-factory
	url = https://github.com/ensdomains/verifiable-factory
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "contracts/lib/openzeppelin-contracts-v4"]
	path = contracts/lib/openzeppelin-contracts-v4
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/lib/solsha1"]
	path = contracts/lib/solsha1
	url = https://github.com/ensdomains/solsha1
[submodule "contracts/lib/ens-contracts"]
	path = contracts/lib/ens-contracts
	url = https://github.com/ensdomains/ens-contracts
[submodule "contracts/lib/unruggable-gateways"]
	path = contracts/lib/unruggable-gateways
	url = https://github.com/unruggable-labs/unruggable-gateways
[submodule "contracts/lib/solady"]
	path = contracts/lib/solady
	url = https://github.com/vectorized/solady
[submodule "contracts/lib/nexus"]
	path = contracts/lib/nexus
	url = https://github.com/rhinestonewtf/rhinestone-nexus
[submodule "contracts/lib/account-abstraction"]
	path = contracts/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "contracts/lib/composability"]
	path = contracts/lib/composability
	url = https://github.com/bcnmy/composability
[submodule "contracts/lib/excessively-safe-call"]
	path = contracts/lib/excessively-safe-call
	url = https://github.com/nomad-xyz/ExcessivelySafeCall
[submodule "contracts/lib/sentinellist"]
	path = contracts/lib/sentinellist
	url = https://github.com/rhinestonewtf/sentinellist
